.App {
  text-align: center;
}

.App header {
  background-color: #0b6dee;
  padding: 3px;
  color: rgb(244, 247, 244);
  position: relative;
  bottom: 0;
  width: 100%;
}

body {
  background-color: rgba(24, 212, 171, 0.411);
}

.gambarAlwie {
  border-radius: 100%;
  width: 250px;
  height: 250px;
  margin-top: 20px;
  object-fit: cover;
}

.App main {
  padding: 20px;
  margin-top: 10px;
}

.Project {
  margin-bottom: 20px;
}

.contact {
  border-radius: 10px;
}

footer {
  /* margin-right: 100px; */
  background-color: #1657da;
  padding: 10px;
  color: rgb(250, 245, 245);
  position: relative;
  bottom: 0;
  width: 100%;
}
